@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --text: #f0f0f0;
  --bg: #0d0d0f;
  --secondary: #151516;
  --tertiary: #1c1c1d;
  --border: #27272a;
  --gray: #71717a;
  --light-gray: #a1a1aa;
  --primary: #6ea8f7;
  --red: #f05454;
  --green: #4ade80;
  --orange: #fb923c;
  --purple: #a78bfa;
  --blue: #60a5fa;
  --yellow: #fbbf24;
  --pink: #f472b6;
}

::selection {
  color: var(--bg);
  background-color: var(--primary);
}

* {
  font-family: "Onest", Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--bg);
  color: var(--text);
}

label {
  @apply text-light-gray;
}

@theme {
  --color-text: var(--text);
  --color-bg: var(--bg);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-border: var(--border);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-primary: var(--primary);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-orange: var(--orange);
}

#__nuxt {
  @apply grid gap-8;
}
